#top-banner
{
	color : rgb(255,255,255);
	font-size : 30px;
	background-color : rgba(30,30,30,0.7);
	overflow : auto;
	text-align : center;
}

#top-banner-img
{
	float : right;
}

#menu
{
	width : 260px;
	height : 100%;
	border-right : 1px solid #ccc;
	font-family : "Lato";
	font-weight : normal;
	font-size : 18px;
	min-height : 500px;
	background-color : rgba(30,30,30,0.7);
	box-shadow : 3px 0px 5px rgba(0,0,0,.3);
	position : absolute;
	overflow : auto;
}

#menu .menu-button
{
	padding : 0.01em 16px 8px;
	line-height : 45px;
	z-index : 5;
}
